body{
  background-color: white;
  margin: 0;
}

#sub{
  border-bottom: 3px solid lightgray;
  padding: 100px;
  padding-top: 3px;
  padding-bottom: 6px;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: lightgray;
}
#sub a{
  font-size: 18px;
  text-align: center;
}
.title{
  background-color: lightblue;
  font-size: 40px;
  /*font-weight: bold;*/
  text-align: center;

  color:white;

  margin:0px;
  padding-top: 85px;

}
.subtitle{
  background-color: lightblue;
  font-size: 20px;
  text-align: center;
  border-bottom: 3px solid lightgray;

  color: navy;

  padding-bottom: 20px;
  padding-top: 0px;

  margin: 0px;
}

#cols{
  display : grid;
  grid-template-columns: 1fr 3fr;
  border:
}
#cols li{

  
}
